h1 {
  color: blue;
  text-decoration: underline;
  background-color: rgb(208, 255, 0);
  height: 200px;
  width: 50%;
}

a {
  margin-top: 10px;
  padding: 20px;
  background-color: brown;
  color: white;
}
